In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt
from datetime import date
import fastquant as fq
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd
from hdfs import InsecureClient
import os

from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense, Dropout, LSTM
from tensorflow.keras.models import Sequential

In [7]:
crypto_currency = input('Enter the CryptoCurrency: ') 
against_currency = input('Enter the CryptoCurrency you want to trade ' + crypto_currency +' against: ')    
    
# crypto_currency = 'BTC'
# against_currency = 'USD'

# start = dt.datetime(2010, 1, 1)
# end = dt.datetime.now()

# data = web.DataReader(f'{crypto_currency}-{against_currency}', 'yahoo', start, end)

Enter the CryptoCurrency: ADA
Enter the CryptoCurrency you want to trade ADA against: BTC

In [8]:
start = '2020-01-01'
end = date.today()
end= end.strftime("%Y-%m-%d")

data = fq.get_crypto_data(crypto_currency+'/'+against_currency, start, end,time_resolution="1d")
data.head()

                open      high       low     close      volume
dt
2020-01-02  0.000005  0.000005  0.000005  0.000005  25328513.0
2020-01-03  0.000005  0.000005  0.000005  0.000005  43527066.0
2020-01-04  0.000005  0.000005  0.000005  0.000005  25959654.0
2020-01-05  0.000005  0.000005  0.000005  0.000005  30087484.0
2020-01-06  0.000005  0.000005  0.000005  0.000005  72810857.0

In [9]:
client_hdfs = InsecureClient('http://172.24.192.1:9870/',user='Neel')
 
# Writing Dataframe to hdfs
with client_hdfs.write('/hData/'+crypto_currency+'-'+against_currency+'.csv', encoding = 'utf-8') as writer:
    data.to_csv(writer)